<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="MainDataContextConnectionString" connectionString="Data Source=E:\MyCode\ZhiHuSpiderService\ZhiHuSpider.db" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>

